@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono&display=swap');
::-webkit-scrollbar { 
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #191919;
}

body {
    background-color: gray;
    margin-left: 150px;
}

header {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    font-family: 'Reddit Mono', monospace;
    color: black;
    font-weight: 900;
}

#galeria-contido {
   float: left;
   width: 30%;
   padding: 10px;
   box-sizing: border-box;
   border: solid 5px #202020;
   margin: 5px;
   background: #0000009d;
}

#galeria-contido .galeria-itens img{
    width: 100%;
    display: block;
}

.descricao{
    display: none;
}

.galeria-itens:target {
    position: fixed;
    width: 50%;
    top: 15px;
    left: 25%;
    padding: 10px;
    border: solid 5px #333;
    box-shadow: 0 0 25px 10px black;
    background: white;
    border-radius: 5px;
}

.galeria-itens:target .descricao{
    display: block;
}

/* Estilo adicional para sobreposição de texto */
.descricao{
    content: attr(alt);
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Reddit Mono', monospace;
    font-size: 20px;
    font-weight: 900;
}

a{
    color: white;
    font-family: 'Reddit Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
